img { max-width: 100%; }

.game-background {
    background-image: radial-gradient(circle at 50% 150px,
    #1b3a56 0%,
    #1b3a56 40%,
    #1b2838  70%,
    #1b2838 100%);
    height: 100%;
    padding-bottom: 40px;
}

main.game {
    margin: 0 auto;
    padding-top: 12px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.game-display {
    max-width: 800px;
    margin-inline: 5vw;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: rgba(18,28,42, 0.8);

    padding-bottom: 20px;
}

.game-name {
    color: white;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
}

/* images */

.game-display-images {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    
}

.game-display-images > img {
    width: 100%;
    height: 300px;
    object-fit: contain;

    
}

.game-display-image-slider {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;
    overflow-x: scroll;
    min-height: 75px;
    overflow-y: hidden;
}

.game-display-image-slider > button > img {
    border: 2px solid rgba(0.2, 0.2, 0.2, 0)

}

.game-display-image-scroll {
    width: 100%;
    height: 16px;
    display: flex;
    margin-top: -15px;
}

.scroll {
    width: 90%;
}

.game-slide-btn {
    all: unset;
    cursor: pointer;
    height: 100%;
    width: 5%;

    background-color: #213648;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.game-slide-btn-left {
    transform: rotate(180deg);
}

.game-slide-btn-right {
    right: 0;
}

.game-slide-btn:hover {
    background-color: #537fa5;
}


.game-display-image-slider > button {
    all: unset;
    cursor: pointer;
}

.game-display-image-slider > button > img {

    width: 100px;
    object-fit: contain;
}

.img-selected {
    border: 2px solid var(--border-blue) !important;
}

.game-display-image-slider::-webkit-scrollbar {
    height: 15px;                 /* horizontal bar height */
}
.game-display-image-slider::-webkit-scrollbar-track {
    background: #0b1e2a;         /* track color */
    border-radius: 999px;
}
.game-display-image-slider::-webkit-scrollbar-thumb {
    background: #407899;         /* thumb color */
    border-radius: 999px;
}
.game-display-image-slider::-webkit-scrollbar-thumb:hover {
    background: #2e5a73;
}


/* data */

.game-display-data {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.game-display-data > img {
    width: 100%;

}


.game-display-data > p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.game-display-data > h3 {
    color: white;
    margin: 0;
    margin-bottom: 2px;
}

.game-link {
    all: unset;
    background-color: #0b1e2a;
    color: rgb(227, 227, 227);
    padding: 12px;
    margin: auto;
    border-radius: 12px;
    border: 2px solid rgb(146, 232, 254);
    cursor: pointer;

}

.game-link:hover {
    background-color: #122836;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(56, 215, 255);
}

.star-holder {
    width: fit-content;
    margin-bottom: 12px;
}

.star {
    all: unset;
    cursor: pointer;
}

/* technologies */

.game-display-technologies {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    width: fit-content;

    background-color: rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 30px;
    border: 1px solid var(--border-blue)
}

.game-display-technologies > h2 {
    color: white;
    margin: 0;
}

@media only screen and (max-width: 610px) {
    .game-display {
        flex-wrap: wrap;
    }

    .game-display-images,
    .game-display-data { flex: 1 1 100%; width: 100%; padding-inline: 24px;}
    .game-name {padding-inline: 24px;}
}
