.game-background {
    background-image: radial-gradient(circle at 50% 150px,
    #1b3a56 0%,
    #1b3a56 40%,
    #1b2838  70%,
     #1b2838 100%);
    height: 100%;

}

main.game {
    width: 800px;
    margin: 0 auto;
    padding-top: 12px;
}

.game-display {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    gap: 12px;
    background-color: rgba(18,28,42, 0.8);
}

.game-name {
    color: white;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
}

/* images */

.game-display-images {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.game-display-images > img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.game-display-data > img {
    width: 120px;
}

.game-display-image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    overflow: scroll;
    height: 75px;
    overflow: hidden;

}

.game-display-image-scroll {
    width: 100%;
    height: 20px;
    display: flex;

}

.scroll {
    width: 90%;
}

.game-slide-btn {
    all: unset;
    cursor: pointer;
    height: 100%;
    width: 5%;

    background-image: linear-gradient(to right, #202b38, #131d28);
    opacity: 0.95;
    z-index: 2;

    display: flex;
    align-items: center;

    
}

.game-slide-btn-left {
    visibility: hidden;
    transform: rotate(180deg);
}

.game-slide-btn-right {
    right: 0;
}

.game-slide-btn:hover {
    background-image: linear-gradient(to right, #1d2a3a, #465e71);
}


.game-display-image-slider > button {
    all: unset;
    cursor: pointer;
}

.game-display-image-slider > button > img {

    width: 100px;
    object-fit: contain;
}

.img-selected {
    border: 2px solid var(--border-blue);
}

/* data */

.game-display-data {
    width: 35%;

}

.game-display-data > img {
    width: 100%;

}


.game-display-data > p {
    font-size: 10px;
    color: white;
    font-weight: 300;
}

/* technologies */

.game-display-technologies {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    width: fit-content;

    background-color: rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 30px;
    border: 1px solid var(--border-blue)
}

.game-display-technologies > h2 {
    color: white;
    margin: 0;
}