
header {
    background-color: #171d25;
    color: #dcdedf;
    width: 100vw;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-btn {
    all: unset
}

.sidebar {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: #171a21;
    z-index: 20;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

}

#sidebar-profile > a {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #46c7d0;
    background-image: linear-gradient(to right, #202b37 , #171a21);

    width: 100%;
    height: 70px;

    box-shadow:
        inset -3px 0 4px -2px rgba(0,0,0,0.7),   /* right */
        inset 0 -4px 4px 0px rgba(0,0,0,0.7);  /* bottom */
}

#sidebar-profile > a > img {
    width: 32px;
    height: 32px;
    border: 1.5px solid var(--border-blue);
    margin-left: 16px;
}

#sidebar-profile > a > p {
    font-weight: 300;
    font-size: 1.5rem;
}

.sidebar > a {
    all: unset;
    cursor: pointer;
    color: #9dadb9;
    padding-left: 16px;
    
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid rgb(63, 61, 61);
    margin: 0;
    padding-block: 12px;
    font-size: 1.25rem;
}

.sidebar > a:hover {
    color: white;
}

.sidebar > a.side-selected {
    color: white;
}

.sidebar.is-open {
    transform: translateX(0);
}

.sidebar-btn > img {
    width: 30px;
    height: 20px;
    display: none;
    cursor: pointer;

}


@media only screen and (max-width: 600px) {
    .sidebar-btn > img {
        display: block;
    }
    .sidebar-btn {
        position: absolute;
        left: 4px;
    }
    nav {
        display: none;
    }
    #profile {
        display: none;
    }
}

.grey-out {
    all: unset;
    min-height: 100vh; 
    background: rgba(67, 86, 100, 0.15); 
    position: fixed;
    inset: 0;
    z-index: 10;    
}

nav > ul {
    list-style-type: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px
}

ul > li {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    all: unset;
}


.dropdown a > span {
    font-size: 18px;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #3d4450;
    min-width: 40px;
    z-index: 1;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    box-shadow: 1px 1px 4px black;
    text-align: center;
}

.dropdown-content a {

    margin: 0px;
    display: block;
    padding: 6px 8px;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.dropdown:hover {
    color: white
}

.dropdown-content a:hover{
    background-color: #dcdedf;
    color: grey
}

.dropdown > a > hr {
    display: none;
}

.selected {
    color: #1a9fff !important;
}

a.selected > hr {
    display: block;
    position: absolute;
    margin: 0;
    border: 1.5px solid #1a9fff;
    border-radius: 2px;
    width: 97%;
}

#maets-logo {
    width: 120px;
    padding-right: 10px;
    padding-left: 10px;
}

#profile {
    margin-left: 30px;
    width: 32px;
    height: 32px;
    border: 1.5px solid var(--border-blue);
}

/* Also footer */
footer > p {
    padding-top: 16px;
    margin: 0 auto;
    max-width: 600px;
    padding-inline: 32px;
    font-size: 12px;
    color: var(--custom-grey);
    text-align: center;
    padding-bottom: 8px;

}
