:root {
    --custom-grey: rgb(215, 215, 215);
    --border-blue: rgb(70, 199, 208);
    overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;

  background-color: #1b2838;
  font-family:"Roboto", Arial, sans-serif;
}
#root {
  margin: 0;
  padding: 0;

}
